@{
    ViewBag.Title = "Book Catalog";
}

<h2>Index</h2>
<li>@Html.ActionLink("MVC", "Index", "Book", new { area = "Mvc" }, new { })</li>
<li>@Html.ActionLink("Kendo", "Index", "Catalog", new { area = "Kendo" }, new { })</li>
<li>@Html.ActionLink("Angular", "Books", "Catalog", new { area = "Angular" }, new { })</li>

