
<div id="grid"></div>
<script>
    $("#grid").kendoGrid({
        height: 400,
        columns: [
            {field: "Name"},
            {field: "PublishedDate"},
            {field: "PagesCount"},
            {field: "Description"},
            {command: [ "edit" , "destroy"], width: 180 }
        ],
        toolbar: ["create"],
        dataSource: {
            type: "aspnetmvc-ajax", 
            transport: {
                read: {
                     url: "BookViewModels_Read"
                }, 
				create: { 
					url: "BookViewModels_Create"
				},
				update: { 
					url: "BookViewModels_Update"
				},
				destroy: { 
					url: "BookViewModels_Destroy"
				}
			},
            schema: {
                data: "Data",
                model: {
                    id: "Id",
					fields: {
						Id: { type: "number"},
						Name: { type: "string"},
						PublishedDate: { type: "date"},
						PagesCount: { type: "number"},
						Description: { type: "string"}
					}
                }
            }, 
			serverPaging: true,
			serverSorting: true,
			serverSorting: true,
        },
        columnMenu: true,
        editable: "popup",
        pageable: true,
        navigatable: true,
        selectable: "single row",
        sortable: {
            mode: "single"
        },
        filterable: true,
        detailExpand: onDetailExpand,
        columnShow: onColumnShow,
        scrollable: true
    })

    function onDetailExpand(e){
        //Implement the event handler for detailExpand
    }

    function onColumnShow(e){
        //Implement the event handler for columnShow
    }

</script>
