.makealink{
    background:transparent;
    border:0px;
    text-decoration:none;
    color:#428bca;    
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0em 0em !important;
}
.navbar-inverse {
    background-color: darkgrey !important;
    border-color: darkgrey !important;
}
.navbar-inverse .navbar-brand {
    color: #fff !important;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff !important;
}